# PostgreSQL Database
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE"

# PostgreSQL CA Certificate
DATABASE_CA_CERT="-----BEGIN CERTIFICATE-----\nYOUR_CA_CERTIFICATE_HERE\n-----END CERTIFICATE-----"

# Resend Email
RESEND_API_KEY="re_your_api_key_here"

# Email Configuration
EMAIL_FROM="Bizzfi Website <noreply@yourdomain.com>"
EMAIL_TO="your-email@example.com"